<div class="row">
    <div class="col-md-12 col-md-offset-0">
        <ul class="timeline">
            <li class="timeline-heading text-center animate-box">
                <div>
                    <h3>Work Experience</h3>
                </div>
            </li>
            <li  class="animate-box timeline-inverted" 
            *ngFor="let exp of experiences" >
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3 class="timeline-title">{{exp.position}}</h3>
                        <span class="company">
                            {{exp.company}} - {{exp.startDate}} - {{exp.endDate}}
                        </span>
                    </div>
                    <div class="timeline-body">
                        <p *ngFor="let task of exp.tasks">{{task}}</p>
                    </div>
                </div>
            </li>
        </ul>
</div>
</div>