<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center col-padding animate-box" 
            *ngFor="let project of projects">
                <a [routerLink]="project.title" class="work" 
                style="background-image: url({{project.image}});">
                    <div class="desc">
                        <h3>{{project.title}}</h3>
                        <span>{{project.type}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>