<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
        style="background-image:url(../assets/images/cover_bg_3.jpg);" 
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t js-fullheight">
                        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                            <div class="profile-thumb" 
                            style="background: url(./../assets/images/myPiccopy.jpg);"></div>
                            <h1><span>{{walid.fullName}}</span></h1>
                            <h3><span>{{walid.title}}</span></h3>
                            <!-- <p> -->
                            <br>
                            <ul class="fh5co-social-icons" >
                                <li *ngFor="let link of walid.links">
                                    <a [href]="link.url">
                                        <i class="icon-{{service.getSiteIcon(link.name)}}"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>