<div class="fh5co-loader"></div>

<div id="page">
    
    <app-introduction>loading app-introduction</app-introduction>

    <app-about>loading app-about</app-about>

    <app-resume>loading app-resume</app-resume>

    <app-projects>loading app-projects</app-projects>
    
    <app-skills>loading app-skills</app-skills>
    
    <app-features>loading app-features</app-features>

    <!-- <app-blog>loading app-blog</app-blog> -->

    <!-- <app-started>loading app-started</app-started> -->

    <app-consult>loading app-consult</app-consult>

</div>

    <app-footer></app-footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>






